header {
    text-align: center;
    padding: 50px;
    background-color: var(--primary-color);
    color: white;
}

header h1 {
    font-size: 3em;
    margin-bottom: 10px;
}

section {
    padding: 20px;
    text-align: center;
}
